.container {
    display: flex;
    justify-content: center;
}

.gradientCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 30px;
}

.card {
    width: 650px; 
    height: 460px; 
    border: 0;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.containerCard {
    display: flex;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #1f1323, #1a171c, #080509);
    border-radius: 45px;
    padding: 40px; 
    height: 100%; 
    flex-direction: column;
    background-clip: padding-box;
}
.cardDescription {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    line-height: 28px;
    color: hsla(0, 0%, 100%, 0.739);
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
}
.cardTitle {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    color: white;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 10px;
}

.cardImage {
    width: 125px;
    height: 125px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(100, 94, 94, 0.3);
}
.imageAndTitleContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cardPosition{
    color:aliceblue;
    font-weight: bold;
}
.cardDuration {
    color:aliceblue;
    font-weight: bold;
}
.cardLink{
    font-size: 15px;
    color:aliceblue;
}