.tecsBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    gap:2rem;
  }
  
  .title {
    color:aliceblue;
    padding-top: 8rem;
    display: flex;
    font-size: xx-large;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .techImage{
    width: 80px;
  }
  
  