.stickyContainer {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1000;
}

.stickyList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stickyList li {
    margin-bottom: 10px;
    text-align: left;
}

.iconLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 8px;
    background-color: #ebeef3;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 5px rgba(96, 19, 173, 0.2);
    transition: background-color 0.5s ease;
}

.CVicon {
    width: 25px;
    height: 25px;
    margin-left: -2px;
}

.iconLink i {
    margin-right: 10px;
    font-size: 20px;
}

.iconLink:hover {
    background-color: #608aa6;
}

.toggleButton {
    background-color: #f7f5f9;
    border: none;
    color: rgb(12, 11, 12);
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    width: 30px;
    height: 30px;
}

.toggleButton:hover {
    background-color: #608aa6;
    color: rgb(255, 255, 255);

}