.projectsBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  padding-top: 8rem;
  display: flex;
  font-size: xx-large;
  position: relative;
  align-items: center;
  justify-content: center;

}


