
.navbar { 
  position: fixed;
  top:0;
  width: 100%;
  display: inline-flex;
  justify-content:space-around;
  align-items: center;
  padding: 5px;
  gap: 30px;
  font-size: large;
  font-weight: 300px;
  z-index: 1000;
  background-color: rgb(98, 126, 189);
  border-style:inset
}
.link {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
  
}

.link:hover {
  color: rgb(29, 25, 25);
  transform: scale(1.2)
}

.firstLetter {
  color: rgb(39, 43, 48)
  
}
.link {
  color:antiquewhite
}
