.navbar .link {
  color: aliceblue !important;
  font-size: larger !important;
  font-family: 'Bai Jamjuree', sans-serif;
  text-decoration: none;
  transition: all 0.3s;
  width: '100%'; 
  max-width: '100%';
  overflow-x: 'hidden';
}
.navbar .link:hover {
  color: #40c9ff !important;
  transform: scaleZ(1.2);
}
.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  object-fit: cover;
}