.section {
  margin: 20px;
  margin-bottom: 100px;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  margin-inline: auto;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}